fastapi
uvicorn
pydantic
celery
redis
python-dotenv
swagger-ui-bundle
snowflake-ml-python
snowflake-snowpark-python==1.18.0
scikit-learn==1.4.0
pandas
sqlalchemy
snowflake-connector-python
snowflake-connector-python[pandas]
snowflake-sqlalchemy
